<div id="cookie-hint">
  <div class="container">
    <div class="alert alert-info">
      <p>
        <b>Yummy, wir nutzen Cookies 🍪!</b>
      </p>
      <p>
        Um herauszufinden wie nützlich unsere Website für euch ist, wird eure
        Nutzung anonym mit Hilfe von Cookies analysiert. Mehr darüber könnt ihr
        in unserer Datenschutzerklärung nachlesen.
      </p>
      <p>
        Wenn das ok für euch ist, klickt auf OK, wenn nicht klickt auf Nicht OK.
        <button type="button" class="btn btn-secondary">Nicht OK</button>
        <button type="button" class="btn btn-primary">OK</button>
      </p>
    </div>
  </div>
</div>
